#Entete{
    font-family:Jacques Francois;
    background-color: #264653;
    margin-bottom:0
      ;
      padding-bottom: 0 ;
    text-align: center;
}

#Navigation{
  font-family:Jacques Francois;
  background-color: #E9C46A;
  margin-bottom:0
    ;
    padding-bottom: 0 ;
  text-align: left;
}
#crud
{
    text-align: cenleftter;
    /* justify-content: center; */
  
}